# executables
*.exe
*.out

# object files
*.o
*.obj

# but track 3D model assets
!assets/**/*.obj

# libraries
*.a
*.lib
*.dll

# debug files
*.pdb

# build folders
build/
bin/

# cmake
CMakeFiles/
CMakeCache.txt
cmake-build*/

# vscode temporary files
.vscode/*.log
.vscode/*